<div class="container-fluid bg-dark">
    <h3 class="text-white text-center py-4">Aktywne Zadania</h3>
<div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>
<table class="table table-dark table-hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Imię</th>
        <th scope="col">Nazwisko</th>
        <th scope="col">Dział</th>
        <th scope="col">Przełożony</th>
        <th scope="col">Akcje</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let request of requests">
        <td>{{ request.id }}</td>
        <td>{{ request.name }}</td>
        <td>{{ request.lastName }}</td>
        <td>{{ request.department }}</td>
        <td>{{ request.supervisorId }}</td>
        <td>
            <button class="btn btn-success" (click)="approveRequest(request.id)">Zatwierdź</button>
            <button class="btn btn-danger">Usuń</button> </td>
      </tr>
    </tbody>
  </table>
  </div>
  
  <div class="container-fluid bg-dark">
    <div class="row">
      <div class="col">
        <h2 class="text-white text-center py-4">Użytkownicy</h2>
        <div class="table-responsive">
            <table class="table table-dark table-bordered mb-0">
              <thead>
                <tr>
                  <th scope="col">Użytkownik</th>
                  <th scope="col">Stanowisko</th>
                  <th scope="col">E-mail</th>
                  <th scope="col">Numer Telefonu</th>
                  <th scope="col">Klienci</th>
                  <th scope="col">SALARY</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of Users"> 
                <td>{{ user.name}}</td>
                <td> {{ user.lastName}}</td>
                </tr>

              </tbody>
              </table>
        </div>
      </div>
    </div>
  </div>
  