<div class="overlay-container">
  <div class="form-overlay">
    <router-outlet></router-outlet>
  </div>
<br> 
  </div>
  <table class="table table-dark table-borderless">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Klient</th>
        <th scope="col">Numer Faktury</th>
        <th scope="col">Numer Zadania</th>
        <th scope="col">Przychód</th>
        <th scope="col">Poświęcony czas</th>
        <th scope="col">Dojazd</th>
        <th scope="col">Miesiąc dodania dokumentu</th>
        <th scope="col">Status Faktury</th>
        <th scope="col">Data Utworzenia</th>
        <th scope="col">Data Rozliczenia</th>
        <th scope="col">Dodatkowy Właściciel</th>
        <th scope="col">Edytuj</th>
      </tr>
    </thead>
  </table>

